@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #root {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
}
